<%= form_for @list do |f| %>
  <div class="field">
    <p><%= f.label :list_name %></p>
    <p><%= f.text_field :list_name, placeholder: 'name me' %></p>
    <p><%= f.label :notes %></p>
    <p><%= f.text_area :notes, placeholder: 'notes' %></p>
    
    <h3><%= @list.items.count == 0 ? "Add some items:":"Edit the list:"%></h3>
    <table>
      <tr>
        <th style="text-align:left"><%= f.label :name %></th>
        <th style="text-align:left"><%= f.label :quan %></th>
        <th style="text-align:left"><%= f.label :notes %></th>
      </tr>
      <%= f.fields_for :items do |item_fields| %>
      <tr><%= render 'item_fields', f: item_fields %></tr>
      <% end %>
  </div>
      <tr>
        <div class="actions">
          <td><%= f.submit %></td>
        </div>
      </tr>
    </table>
<% end %>