<%= form_for @list do |f| %>
  <div class="field">
    <p><%= f.label :list_name %></p>
    <p><%= f.text_field :list_name, placeholder: 'name me' %></p>
    <p><%= f.label :notes %></p>
    <p><%= f.text_area :notes, placeholder: 'notes' %></p>
    
    <h3><%= @list.items.count == 0 ? "Add some items:":"Edit the list:"%></h3>
    <p>  
      <%= f.fields_for :items do |item_fields| %>
        <%= render 'item_fields', f: item_fields %>
      <% end %>
    </p>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>