<%= form_for @list do |f| %>
  <h3>
    <%= @list.list_name.blank? ? "Create a new list:":"Edit your list:"%>
  </h3>
  <table>
    <tr>
      <th style="text-align:left">
        <%= f.label :list_name, @list.list_name.blank? ? 'Give your list a name:':'Change the name:' %>
      </th>
    </tr>
    <tr>
      <td>
        <%= f.text_field :list_name, size: 72, placeholder: 'List Name' %>
      </th> 
    </tr>
  </table>
  <br />
  <table>
    <tr>
      <th style="text-align:left">
        <%= f.label :notes, 'Add any special directions?' %>
      </th>
    </tr>
    <tr>
      <td>
        <%= f.text_area :notes, size: "52x4", placeholder: 'Special Directions' %>
      </td>
    </tr>
  </table>
  <h3>
    <%= @list.items.count == 0 ? "Add some items:":"Edit your items:"%>
  </h3>
  <div class="field">
    <table>
      <tr>
        <th style="text-align:left">
          <%= f.label :name, 'Item' %>
        </th>
        <th style="text-align:left">
          <%= f.label :quan, 'Quantity' %>
        </th>
        <th style="text-align:left">
          <%= f.label :notes %>
        </th>
      </tr>
      <%= f.fields_for :items do |item_fields| %>
      <tr>
        <%= render 'item_fields', f: item_fields %>
      </tr>
      <% end %>
    </div>
  </table>
  <p>
    <div class="actions">
      <%= f.submit %>
    </div>
  </p>
<% end %>

