<%= current_user.id %>

<h3>Your Lists:</h3>

<table>
  <% @lists.each do |list| %>
  <tr>
    <td style="width:60%"><%= link_to list.list_name, list %></td>
    <td><%= button_to 'Edit', edit_list_path(list), method: :get %></td>
    <td><%= button_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure you want to delete this list?' } %></td>
  </tr>
<% end %>
</table>

<br />
<br />

<%= button_to 'Create New List!', new_list_path, method: :get %>