<h3><%= @list.list_name.capitalize %></h3>

<ol>
  <% @list.items.each do |item| %>
    <li><%= item.name.capitalize %>
      <%= " - #{item.quan.capitalize}" unless item.quan.blank? %>
      <%= " - #{item.notes.capitalize}" unless item.notes.blank? %>
    </li>
  <% end %>
</ol>

<br />

<% unless @list.notes.blank? %>
  <strong>Notes: </strong><br />
  <%= @list.notes.capitalize %>
<% end %>

<br />
<br />

<table>
  <tr>
    <td>
      <%= button_to 'Edit this list', edit_list_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Delete', @list , method: :delete, data: { confirm: 'Are you sure you want to remove this list?'} %>
    </td>
  </tr>
</table>