======= for testing ==========
<h3>List Owner: <%= @list.user.username %></h3>
<h3><%= current_user.id %></h3>
======= end testing ==========


<h3><%= @list.list_name.capitalize %></h3>

<ol>
  <% @list.items.each do |item| %>
    <li><%= item.name.capitalize %>
      <%= " - #{item.quan.capitalize}" unless item.quan.blank? %>
      <%= " - #{item.notes.capitalize}" unless item.notes.blank? %>
    </li>
  <% end %>
</ol>

<br />

<% unless @list.notes.blank? %>
  <strong>Notes: </strong><br />
  <%= @list.notes.capitalize %>
<% end %>

<br />
<br />

<table>
  <tr>
    <td>
      <%= button_to 'Edit this list', edit_list_path, method: :get %>
    </td>
    <td>
      <%= button_to 'Delete List', @list , method: :delete, data: { confirm: 'Are you sure you want to remove this list?'} %>
    </td>
  </tr>
</table>


<h4>Send your list to someone!</h4>
<%= form_tag(@list, method: "patch") do %>
  <table>
    <tr>
      <td><%= label_tag :sender, "Your name:" %></td>
      <td><%= text_field_tag :sender, nil, placeholder: 'name' %></td>
    </tr>
    <tr>
      <td><%= label_tag :send_to_address, "Email to:" %></td>
      <td><%= text_field_tag :send_to_address, nil, placeholder: 'email' %></td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:right"><%= submit_tag "Email List!" %></td>
    </tr>
  </table>
<% end %>


