<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3><%= "#{@sender.capitalize} wants you to pick up the following:"%></h3>

    <p>
      <strong>List:  </strong><%= @list.list_name.capitalize %>
    </p>

    <ol>
      <% @list.items.each do |item| %>
      <li>
        <%= "#{item.name.capitalize}" %>
        <%= " - #{item.quan.capitalize}" if item.quan != "" %>
        <%= " - #{item.notes}" if item.notes != "" %>
      </li>
      <% end %>
    </ol>
  
    <p>
      <strong>Notes:</strong>
    </p>
    <p>
      <%= @list.notes %>
    </p>
  
  </body>
</html>